*{
    margin: o;
    padding:0;

}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vh; /* 70% of viewport(visible) height*/
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   background-image: url(download\ \(4\).jpeg);
   background-size: fit;
}
.game{
    height: 60vmin; /* 60% of the dimension*/
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
   background-color: cornflowerblue;
   font-size: 8vmin;
   cursor: pointer;
  color: darkred;
}
.reset{
    margin: 20px;
    height: 50px;
    width: 100px;
    font-size: medium;
    border-radius: 8px;
    background-color: rgb(65, 5, 5);
    color: aliceblue;
    cursor: pointer;

}
.new_btn{
    
    height: 50px;
    width: 100px;
    font-size: medium;
    border-radius: 8px;
    background-color: rgb(65, 5, 5);
    color: aliceblue;
    cursor: pointer;
}
.msg{
    font-size: 30px;
    color: red;
}
.hide{
    display: none;
}
